<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Travel Destinations</title>
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="">Explore world</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Location</a>
                <div class="dropdown-content">
                    <a href="#destination1">Paris</a>
                    <a href="#destination2">Destination 2</a>
                    <a href="#destination3">Destination 3</a>
                    <a href="#destination4">Destination 4</a>
                </div>
            </li>
            <li><a href="#itinerary">Itinerary</a></li>
            <li><a href="Inquire.html">Inquire</a></li>
        </ul>
    </nav>
    <div class="banner">
        <img src="./files/bgvid.mp4" type="video/mp4" autoplay muted loop></img>
    
<section class="location-section">
    <div class="location-heading">
        <h1>Discover The <span>Beautiful World</span></h1>
    </div>
 <div class="location-detail" id="paris">
    <h1>Paris</h1>
    <p>Paris, the City of Love, is a magnificent travel destination in France. With its iconic Eiffel Tower, world-renowned art, and delectable cuisine, Paris is a city that will steal your heart. Every season offers a unique charm in Paris, and its rich culture, history, and artistry will make your trip truly unforgettable.

    </p>
    <div class="location-img">
        <img src="parispic.png" alt="">
    </div>
 </div>

 <!-- Locations -->

<section class="locations" id="locations">
    <div class="text">
        <h2>Essentials in Paris</h2>
    </div>
    <div class="package-title">
        <h2>STAY</h2>
    </div>

    <div class="location-content">
        
        <a href="./locations.html#Paris" target="_blank"><div class="col-content">
            <img src="hotel1.png" alt="">
            <h5>HÔTEL BEAUREGARD</h5>
            <p>Paris</p>
        </div></a>

       

        <a href="https://www.vivantahotels.com/en-in/dal-view-srinagar/?utm_source=google&utm_medium=local&utm_campaign=vivanta_dal_view_cla&utm_content=vivanta_dal_view_gmb" target="_blank"><div class="col-content">
            <img src="hotel2.png" alt="">
            <h5>BULGARI HOTEL</h5>
            <p>Srinagar</p>
        </div></a>

       

    </div>
</section>

<section class="locations" id="locations">
    <div class="package-title">
        <h2>EAT</h2>
    </div>

    <div class="location-content">
        
        <a href="./locations.html#Paris" target="_blank"><div class="col-content">
            <img src="Res1.png" alt="">
            <h5>Juvenile's</h5>
            <p>Rue de Richelieu</p>
        </div></a>

       

        <a href="https://www.vivantahotels.com/en-in/dal-view-srinagar/?utm_source=google&utm_medium=local&utm_campaign=vivanta_dal_view_cla&utm_content=vivanta_dal_view_gmb" target="_blank"><div class="col-content">
            <img src="Res2.png" alt="">
            <h5>Granite</h5>
            <p>Rue Baielleul</p>
        </div></a>

       

    </div>
</section>

<section class="locations" id="locations">
    <div class="package-title">
        <h2>Things to do</h2>
    </div>

    <div class="location-content">
        
        <a href="./locations.html#Paris" target="_blank"><div class="col-content">
            <img src="TTD1.png" alt="">
            <h5>Louvre Museum</h5>
            <p>Paris</p>
        </div></a>

       

        <a href="https://www.vivantahotels.com/en-in/dal-view-srinagar/?utm_source=google&utm_medium=local&utm_campaign=vivanta_dal_view_cla&utm_content=vivanta_dal_view_gmb" target="_blank"><div class="col-content">
            <img src="TTD2.png" alt="">
            <h5>Eiffel Tower</h5>
            <p>Paris</p>
        </div></a>
       

    </div>
</section>

<section class="package" id="package">
    <div class="package-title">
        <h2>Packages</h2>
    </div>

    <div class="package-content">
        
        <div class="box">
            <div class="image">
                <img src="" alt="">
                <h3>€ 104 /-</h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4>Bronze</h4>
                <ul class="pac-details">
                    <li>2 Star Hotel</li>
                    <li>5 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                </ul>
            </div>
        </div>
        </div>
        
        <div class="box">
            <div class="image">
                <img src="" alt="">
                <h3>€ 214 /-</h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4>Silver</h4>
                <ul class="pac-details">
                    <li>3 Star Hotel</li>
                    <li>7 Nights Stay</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                </ul>
            </div>
        </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="" alt="">
                <h3>€ 339/-</h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4>Gold</h4>
                <ul class="pac-details">
                    <li>4 Star Hotel</li>
                    <li>10 Nights Stay</li>
                    <li>Breakfast and Dinner</li>
                    <li>Free photo Session</li>
                    <li>Friendly Tour Guide</li>
                    <li>24/7 Customer Help Center</li>
                </ul>
            </div>
        </div>
        </div>

       

    </div>

</section>
